#fond
{

		width: 800px;
		margin: 0 auto;
		background-color: white;
		text-align: center;
		align-content: center;
}

body
{
	background-color: black;
}

h1
{
	color: red;
	padding-bottom: 10px;
	text-decoration: underline;
	font-family: sans-serif;

}

a.a
{
	color: darkorange;
	font-weight: bold;

}

h3
{
	color: darkblue;
	font-size: 25px;
	text-decoration: underline;
	font-family: sans-serif;
	padding-bottom: 25px;
	
}
h2
{
	color: darkblue;
	font-size: 25px;
	text-decoration: underline;
	font-family: sans-serif;
}

#site
{
	padding-bottom: 25px;
}
#imgpronote
{
	padding-bottom: 25px;
}
#Histo
{
	padding-bottom: 25px;
}
#manue
{
	padding-bottom: 25px;
}

#amazon
{
	padding-bottom: 25px;
}


nav.menu-nav ul li
{
	list-style-type: none;
	text-align: center;
	width: 720px;
	align-content: center;
}
a
{
	color: black;
	font-weight: bold;
}
p.nav
{
	font-weight: bold;
	font-family: sans-serif;
}
iframe.c1
{
	padding-bottom: 25px;
}
p.M
{
	color: darkblue;
	font-family: sans-serif;
}
p.G
{
	color: darkblue;
	font-family: sans-serif;
}